<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Template • TodoMVC</title>
		<link rel="stylesheet" href="css/index.css">
		<!-- CSS overrides - remove if you don't need it -->
		<!-- <link rel="stylesheet" href="css/app.css"> -->
	</head>
	<body>
		<section id="todoapp" class="todoapp">
			<header class="header">
				<h1>todos</h1>
				<input class="new-todo" placeholder="What needs to be done?" autofocus @keyup.enter="addTodo">
			</header>
			<!-- This section should be hidden by default and shown when there are todos -->
			<section class="main">
				<!-- <input class="toggle-all" type="checkbox" :checked="allChecked" @click="toggleAll"> -->
				<ul class="todo-list">
					<!-- These are here just to show the structure of the list items -->
					<!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
					<li v-for="todo in todos" :class="{completed:todo.done, editing: editing}">
						<div class="view">
							<input class="toggle" type="checkbox" :checked="todo.done" @click="toggleTodo({ todo: todo })">
							<label @dblclick="editing=true">{{todo.text}}</label>
							<button class="destroy"  @click="deleteTodo({ todo: todo })"></button>
						</div>
						   <input class="edit" v-show="editing"
					      :value="todo.text"
					      :data-id="todo.id"
					      @keyup.enter="doneEdit"
					      @keyup.esc="cancelEdit"
					     >
					</li>
				</ul>
			</section>
			<!-- This footer should hidden by default and shown when there are todos 

  @blur="doneEdit"
			-->
			<footer class="footer">
				<!-- This should be `0 items left` by default -->
				<!-- <span class="todo-count"><strong>{{remaining}}</strong> item left</span> -->
				<!-- Remove this if you don't implement routing -->
				<ul class="filters">
					<li  v-for="(value, key) in filters">
						<a :class="{selected:visibility == key}" href="#/" @click="visibility=key">{{key}}</a>
					</li>
				</ul>
				<!-- Hidden if no completed items are left ↓ -->
				<button class="clear-completed" @click="clearCompleted">Clear completed</button>
			</footer>
		</section>
		<script src="../../dist/mvvm.js"></script>
		<script src="../../dist/mvvmx.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>